@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .large-style {
        flex-wrap: wrap;
        gap: 2rem;
        justify-content: center;
        align-items: center;
    }
}